---
interface Props {
  link: string;
  className?: string;
}
const { link, className } = Astro.props;
const { pathname } = Astro.url;

const isActive = link === pathname || link === pathname.replace(/\/$/, "");
---

<a href={link} class:list={{ current: isActive }}>
  <slot />
</a>

<style>
  .current::after {
    content: "";
    display: block;
    margin: auto;
    border-radius: 100%;
    background: var(--accent);
    width: 5px;
    height: 5px;
  }
</style>
