---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<p class=`leading-loose mb-6 text-md ${className}`><slot /></p>

<style>
  p {
    color: var(--text-alt);
  }
</style>
